label {
  display: block;
  margin-bottom: 5px;
}

.error {
  border-color: #ff0000;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
}

.success-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(12px);
}

.success-popup-box {
  background-color: #ffffff;
  border: 1px solid #a854e9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.success-popup-box button {
  background-color: #a854e9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
